
.about_section {
    margin: 0 10rem;
    display: flex;
  
    &_about {
      flex: 1 1 50%;
  
      padding-right: 10rem;
  
      .about_section_about-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
  
        h1 {
          font-size: 5.5rem;
          letter-spacing: 0.1rem;
        }
  
        p {
          font-size: 1.7rem;
          margin-top: 2rem;
        }
  
        .about-btn {
          margin-top: 3rem;
          border: none;
          outline: none;
          padding: 1.5rem 4rem;
          border-radius: 0.5rem;
          color: $colorFontWhite;
          font-size: 1.9rem;
          width: 30rem;
          letter-spacing: 0.3rem;
          background-image: linear-gradient(
            to left,
            $colorPrimary,
            $colorPrimaryLight
          );
        }
      }
    }
  
    &-img {
      width: 100%;
      flex: 1 1 50%;
  
      .about-img {
        width: 100%;
      }
    }
  }