$colorPrimary: rgb(118, 194, 27);
$colorPrimaryLight: rgb(129, 170, 48);
$colorBlack: rgba(0, 0, 0, 0.841);
$colorFontWhite: rgba(255, 255, 255);
$color-light-grey-1 : #f7f7f7;

$color-grey-dark : #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) { @content }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) { @content }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) { @content }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) { @content }
  }
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&family=Space+Mono:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
/*
.navbar {
  padding: 0rem 10rem;
  background-image: linear-gradient(to left, $colorPrimary, $colorPrimaryLight);
  &_nav {
    display: flex;
    justify-content: space-between;

    &-logo {
      img {
        width: 38rem;
      }
    }
    &-menu {
      font-size: 2rem;
      display: flex;
      align-items: center;

      a,
      :link,
      :visited {
        text-decoration: none;
        color: $colorFontBlack;
        margin-right: 10rem;
      }
    }
  }
}
*/

.navbar {

  padding: 0 10rem;
  background-image: linear-gradient(to right, $colorPrimaryLight, $colorPrimary);
  position: relative;
  @include respond(tab-land) {
    padding: 0 5rem;
  }
  &_nav {

    max-width: 150rem;
    //background-color: aquamarine;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    //position: relative;
    &-logo {

      img {

        height: 5rem;
        
        @include respond(tab-land) {
          height: 4rem;
        }
      }
    }

    .navbar_nav_mobile {
      //background-color: $color-white;
      display: none;
      position: absolute; 
      top: 0.6rem;
      right: 6rem;

      @include respond (tab-port) {
        display: block;
      }
      .navigation__button {

        height: 3rem;
        width: 3rem;
        
        //border-radius: 50%;
        z-index: 200;
    
    
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
        cursor: pointer;
        text-align: center;

        &:hover .navigation__icon {
          &::before {transform: translateY(-0.2rem)};
          &::after {transform: translateY(0.2rem)};
          }

      }

      

      .navigation__icon {

        width: 3rem;
        height: 3px;
        background-color: $color-grey-dark-3;
        display: inline-block;
        position: relative;    //for positioning of ::before and ::after pseudo-classes
        top: 1.5rem;

        &::before,
        &::after {
          content: "";
          width: 3rem;
          height: 3px;
          background-color: $color-grey-dark-3;
          display: inline-block;
          position: absolute;
          left: 0;
          transition: all 0.2s;
        }

      &::before {top: -0.8rem};
      &::after {top: 0.8rem};
        }
    }

    
    &-menu {

      display: flex;
      //display: none;
      //height: 100%;
      align-items: center;
      //background-color: beige;

      @include respond(tab-port) {

        position: absolute;
        background-color: aqua;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 50%;
        height: 100vh;
        right: 0;
        top:100%;
        transform: translateX(100%);
      }

      

      .link {
        //border-bottom: solid $colorBlack;
        //border-;
        &:not(:last-child) {
          margin-right: 10rem;

         
          }

          @include respond(tab-land) {
            &:not(:last-child) {

              margin-right: 5rem;
            }

           
        }

        @include respond(tab-port) {
          &:not(:last-child) {

            margin-right: 0rem;
          }
        }

        a:link,
        a:visited {

          font-size: 1.8rem;
          text-decoration: none;
          color: $colorBlack;
          cursor: pointer;
        }
      }
    }
  }
}
.header {
  background-image: linear-gradient(to right, rgba(black, 0.2), rgba(black, 0.2)), url("../public/header_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 90vh;

  &-content {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: $colorFontWhite;
    .header-heading {

      margin-top: 30rem;

      h1 {
        margin-bottom: 3rem;
        font-size: 5rem;
        width: 100rem;
        letter-spacing: 1rem;
        text-align: center;
        font-weight: 800;
      }

      p {
        text-align: center;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 0.7rem;
      }
    }

    .header_btn {
      display: block;
      margin-top: 8rem;
      button {
        border: none;
        outline: none;
        padding: 1.5rem 4rem;
        border-radius: 0.5rem;
        color: $colorFontWhite;
        font-size: 1.9rem;
        letter-spacing: 0.3rem;
        background-image: linear-gradient(
          to left,
          $colorPrimary,
          $colorPrimaryLight
        );

        &:hover {

          cursor: pointer;
          //background-image: li ;
        }
      }
    }
  }
}

.benefits_section {
  margin: 0 10rem;
  margin-top: 14.8rem;
  height: 70rem;

  &-heading {
    text-align: center;

    margin-bottom: 6.6rem;

    h1 {
      font-size: 5rem;
      letter-spacing: 1rem;
    }
  }
  &-benefits {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;

    .benefit {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 1rem 5rem;
      &-img {
        width: 14rem;
        margin-bottom: 4rem;
      }

      h3 {
        font-size: 1.7rem;
        margin-bottom: 1.5rem;
      }

      p {
        font-size: 1.7rem;
      }
    }
  }
}

.about_section {
  margin: 0 10rem;
  display: flex;

  &_about {
    flex: 1 1 50%;

    padding-right: 10rem;

    .about_section_about-us {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      h1 {
        font-size: 5.5rem;
        letter-spacing: 0.1rem;
      }

      p {
        font-size: 1.7rem;
        margin-top: 2rem;
      }

      .about-btn {
        margin-top: 3rem;
        border: none;
        outline: none;
        padding: 1.5rem 4rem;
        border-radius: 0.5rem;
        color: $colorFontWhite;
        font-size: 1.9rem;
        width: 30rem;
        letter-spacing: 0.3rem;
        background-image: linear-gradient(
          to left,
          $colorPrimary,
          $colorPrimaryLight
        );
      }
    }
  }

  &-img {
    width: 100%;
    flex: 1 1 50%;

    .about-img {
      width: 100%;
    }
  }
}

.container {
  margin-top: 14.8rem;
  height: 110vh;
  background-image: radial-gradient($colorFontWhite, $colorPrimary);
  padding: 3rem 0;
  position: relative;

  .container__img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    img {
      width: 100%;
    }
  }
  .container__main {
    position: relative;
    .container__heading {
      text-align: center;
      h1 {
        font-size: 7rem;
        text-transform: uppercase;
      }
    }

    .benefit {
      width: 35rem;
      h2 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
      }
      p {
        font-size: 1.7rem;
      }
    }

    .free-maintenance {
      position: absolute;
      left: 20rem;
      top: 30rem;
    }

    .delivery {
      position: absolute;
      left: 12rem;
      top: 55rem;
    }

    .staff {
      position: absolute;
      left: 15rem;
      top: 80rem;
      width: 40rem;
    }

    .mount {
      position: absolute;
      right: 20rem;
      top: 30rem;
    }

    .response {
      position: absolute;
      right: 15rem;
      top: 55rem;
    }

    .quality {
      position: absolute;
      right: 20rem;
      top: 85rem;
    }
  }
}

.section__team {
  padding: 14.8rem 10rem;
  .heading {
    margin-bottom: 20rem;
    h2 {
      font-size: 7rem;
      text-transform: uppercase;
      text-align: center;
    }
  }
  .members {
    display: flex;
    justify-content: space-around;
    .member {
      display: flex;
      flex-direction: column;
      align-items: center;
      &__img {
        img {
          width: 30rem;
          height: 30rem;
          object-fit: cover;
          object-position: top;
        }
      }

      .member__name {
        h3 {
          font-size: 2rem;
          margin: 1rem 0;
        }
      }

      .member__designation {
        text-align: center;
        p {
          font-size: 1.7rem;

          span {
            display: block;
          }
        }
      }
    }
  }
}

.packages {
  padding: 14.8rem 10rem;
  .heading {
    // background-color: aqua;
    text-align: center;

    h1 {
      font-size: 7rem;
    }

    h3 {
      font-size: 2.5rem;
    }
  }
  &__container {
    display: flex;
    justify-content: space-around;

    //background-color: aquamarine;

    .package {
      // background-color: orange;

      border: 2px solid grey;
      &__info {
        //background-color: purple;
        padding: 5rem 7.5rem;
        text-align: center;

        h1 {
          //color: pink;
          font-size: 5rem;
        }
        h2 {
          //color: red;
          font-size: 5rem;
        }
      }
      &__description {
        padding: 8rem 7rem;

        ul {
          font-size: 1.5rem;
          line-height: 3rem;
          li {
            list-style: none;
            font-size: 2rem;
          }
        }
      }
      &__btn {
        text-align: center;
        padding-bottom: 3rem;
        .btn {
          border: none;
          outline: none;
          padding: 1.5rem 4rem;
          border-radius: 0.5rem;
          color: $colorFontWhite;
          font-size: 1.9rem;
          letter-spacing: 0.3rem;
          background-image: linear-gradient(
            to left,
            $colorPrimary,
            $colorPrimaryLight
          );
        }
      }
    }
  }
}

.contact {
  //background-color: aqua;
  padding: 5rem 10rem;

  &_heading {
    //background-color: aquamarine;
    h1 {
      font-size: 7rem;
      letter-spacing: 0.2rem;
    }
    h4 {
      color: $colorPrimaryLight;
      font-size: 1.5rem;
      letter-spacing: 0.2rem;
    }
  }

  .address__info {
    padding-top: 3rem;
    h3 {
      font-size: 1.8rem;
    }
  }

  .in__touch {
    padding-top: 3rem;

    h2 {
      font-size: 3rem;
    }
  }
  .input__fields {
    //background-color: pink;
    width: 50rem;
    display: flex;
    flex-direction: column;

    margin-top: 2rem;

    input {
      padding: 2rem 1rem;
      margin-bottom: 0.5rem;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    textarea {
      height: 15rem;
      padding: 2rem 1rem;
      margin-bottom: 0.5rem;
    }
  }

  .btn .btn {
    margin-top: 2rem;
    text-align: center;
    border: none;
    outline: none;
    padding: 1.5rem 4rem;
    border-radius: 0.5rem;
    color: $colorFontWhite;
    font-size: 1.9rem;
    letter-spacing: 0.3rem;
    background-image: linear-gradient(
      to left,
      $colorPrimary,
      $colorPrimaryLight
    );
  }
}

.footer {
  background-color: black;
  display: flex;
  padding: 10rem;
  height: 50rem;
  font-size: 1.5rem;

  &__component {
    &:not(:last-child) {
      margin-right: 15rem;
    }
    color: white;
  }
  h3 {
    padding-right: 10rem;
    color: white;
    padding-bottom: 1.5rem;
  }
  a {
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    text-decoration: none;
  }
}
