$colorPrimary: rgb(118, 194, 27);
$colorPrimaryLight: rgb(167, 218, 66);
$colorFontBlack: rgba(0, 0, 0, 0.841);
$colorFontWhite: rgba(255, 255, 255);

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&family=Space+Mono:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

.navbar {
  padding: 0rem 10rem;
  background-image: linear-gradient(to left, $colorPrimary, $colorPrimaryLight);
  &_nav {
    display: flex;
    justify-content: space-between;

    &-logo {
      img {
        height: 8rem;
        display: block;
      }
    }
    &-menu {
      font-size: 2rem;
      display: flex;
      align-items: center;

      a,
      :link,
      :visited {
        text-decoration: none;
        color: $colorFontBlack;
        margin-right: 10rem;
      }
    }
  }
}

.header {
  background-image: url("../public/slide-img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 90vh;

  &-content {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: $colorFontWhite;
    .header-heading {
      margin-top: 20rem;

      h1 {
        margin-bottom: 3rem;
        font-size: 5rem;
        width: 100rem;
        letter-spacing: 1rem;
        text-align: center;
        font-weight: 800;
      }

      p {
        text-align: center;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 0.7rem;
      }
    }

    .header_btn {
      display: block;
      margin-top: 5rem;
      button {
        border: none;
        outline: none;
        padding: 1.5rem 4rem;
        border-radius: 0.5rem;
        color: $colorFontWhite;
        font-size: 1.9rem;
        letter-spacing: 0.3rem;
        background-image: linear-gradient(
          to left,
          $colorPrimary,
          $colorPrimaryLight
        );
      }
    }
  }
}

.benefits_section {
  margin: 0 10rem;
  margin-top: 14.8rem;
  height: 70rem;

  &-heading {
    text-align: center;

    margin-bottom: 6.6rem;

    h1 {
      font-size: 5rem;
      letter-spacing: 1rem;
    }
  }
  &-benefits {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;

    .benefit {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 1rem 5rem;
      &-img {
        width: 14rem;
        margin-bottom: 4rem;
      }

      h3 {
        font-size: 1.7rem;
        margin-bottom: 1.5rem;
      }

      p {
        font-size: 1.7rem;
      }
    }
  }
}

.about_section {
  margin: 0 10rem;
  display: flex;

  &_about {
    flex: 1 1 50%;

    padding-right: 10rem;

    .about_section_about-us {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      h1 {
        font-size: 5.5rem;
        letter-spacing: 0.1rem;
      }

      p {
        font-size: 1.7rem;
        margin-top: 2rem;
      }

      .about-btn {
        margin-top: 3rem;
        border: none;
        outline: none;
        padding: 1.5rem 4rem;
        border-radius: 0.5rem;
        color: $colorFontWhite;
        font-size: 1.9rem;
        width: 30rem;
        letter-spacing: 0.3rem;
        background-image: linear-gradient(
          to left,
          $colorPrimary,
          $colorPrimaryLight
        );
      }
    }
  }

  &-img {
    width: 100%;
    flex: 1 1 50%;

    .about-img {
      width: 100%;
    }
  }
}

.container {
  margin-top: 14.8rem;
  height: 90vh;
  background-image: radial-gradient($colorPrimaryLight, $colorPrimary);
  padding: 3rem 0;
  .container__main {
    position: relative;
    .container__heading {
      text-align: center;
      h1 {
        font-size: 7rem;
        text-transform: uppercase;
      }
    }

    .benefit {
      width: 35rem;
      h2 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
      }
      p {
        font-size: 1.7rem;
      }
    }

    .free-maintenance {
      position: absolute;
      left: 20rem;
      top: 30rem;
    }

    .delivery {
      position: absolute;
      left: 12rem;
      top: 55rem;
    }

    .staff {
      position: absolute;
      left: 15rem;
      top: 80rem;
      width: 40rem;
    }

    .mount {
      position: absolute;
      right: 20rem;
      top: 30rem;
    }

    .response {
      position: absolute;
      right: 15rem;
      top: 55rem;
    }

    .quality {
      position: absolute;
      right: 20rem;
      top: 85rem;
    }
  }
}

.section__team {
  padding: 14.8rem 10rem;
  .heading {
    margin-bottom: 20rem;
    h2 {
      font-size: 7rem;
      text-transform: uppercase;
      text-align: center;
    }
  }
  .members {
    display: flex;
    justify-content: space-around;
    .member {
      display: flex;
      flex-direction: column;
      align-items: center;
      &__img {
        img {
          width: 30rem;
          height: 30rem;
          object-fit: cover;
        }
      }

      .member__name {
        h3 {
          font-size: 2rem;
          margin: 1rem 0;
        }
      }

      .member__designation {
        text-align: center;
        p {
          font-size: 1.7rem;

          span {
            display: block;
          }
        }
      }
    }
  }
}
